.primeiro__site--react {
  background-color: rgb(245, 228, 233);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  align-items: center;
}
.imagem {
  height: 50px;
  margin-top: 30px;
}
.titulo {
  color: rgb(146, 55, 231);
  margin: 0;
}
.subtitulo{
  color: rgb(199, 154, 240);
  text-align: center;
  font-size: 19px;
  margin: 5px

}
.numeracao {
  font-size: 25px;
}
.botoes {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.imagem__github {
  height: 30px;
  margin-top: 300px;
}